<%= link_to 'voltar', root_path%>

<h1>Galpão <%= @warehouse.code%></h1>
<h2><%= @warehouse.description %></h2>
<p><%= @warehouse.name%></p>
<p>Cidade: <%= @warehouse.city%></p>
<p>Área: <%= @warehouse.area %> m2</p>
<p>Endereço: <%= @warehouse.address%>, CEP: <%= @warehouse.cep %></p>